header {
    background-color: white;
    font-size: 60%;
    padding: 20px 40px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}


nav a {
    padding: 60px;
    text-decoration: none;
    font-size:13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    color: #267682;
}

h1 a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

h1 a:hover {
    color: #267682;
}

.poste {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8em;
}






.cards-job {
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.cards-job h2 {
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gif-container {
    display:flex;
    justify-content:center;
}

.gif-item {
    text-align:center;
}

.gif-item h4 {
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.gif-item iframe {
    width: 200px;
    height: auto;
    border-radius:50%;
    overflow:hidden;
    background-color: white;
    margin:20px;
}

p {
    text-align: center;
    font-size: 1.5em;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#267682;

}

















section {
    background-color: rgb(39, 39, 39);
}


form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input, textarea {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: rgba(250, 248, 245, 0.758);
}

input[type='submit'] {
    margin-top: 20px;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:focus, textarea:focus {
    outline: 1.3px solid black;
    background-color:  #a3c7cd;
}

fieldset {
    background-color: #267682;
    border-radius: 5px;
}

legend {
    background-color: rgba(250, 248, 245, 0.758);
}









.footer-basic {
    padding: 10px 200px 0px 200px;
    background-color:white;
    color: black;
    display:flex;
    justify-content: space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: 1.8px;
}

.footer-basic div h6{
    font-size: 0.7em;
}

.col-4 a{
    display:block;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
    font-size:13px;
}

.col-4 a:hover{
    color:#267682;
}

.copyright {
    margin-top:0;
    margin-bottom:0;
    padding-bottom: 10px;
    text-align:center;
    font-size:13px;
    color:black;
    background-color:white;
  }