header {
    background-color: white;
    font-size: 60%;
    padding: 20px 40px 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: black;
}


nav a {
    padding: 60px;
    text-decoration: none;
    font-size:13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    color: #267682;
}

h1 a {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color: black;
}

h1 a:hover {
    color: #267682;
}

.poste {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.8em;
}








main {
    background-color:#267682;
    padding: 20px 60px 40px 60px;
}









.list-container {
    display:flex;
    justify-content: space-around;
    background-color: rgba(250, 248, 245, 0.758);
    border-radius: 30px;
    margin:30px 70px 50px 70px;
    font-family :Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}

.list {
    width:200px;
}

h2 {
    margin-left: 30px;
    color: #267682;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.4em;
}

li {
    margin-bottom: 0.3em;
    display:flex;
    align-items: center;
}

li::before {
    content: "\2022";
    width:1em;
    font-size: 1.2em;
}

.list-items img {
    margin-left: 10px;
}










.portfolio-photos h1 {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6em;
    color: white;
    position: relative;
    top: -10px;
}

.portfolio-photos {
    background-color: black;
    padding:10px 30px 30px 40px;
    border-radius: 20px;
}

.cards {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 300px 300px 300px 300px;
    grid-gap: 12px;
    box-sizing: border-box;
}

.cards img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    margin:0;
    border-radius: 10px;
}








.footer-basic {
    padding: 10px 200px 0px 200px;
    background-color:white;
    color: black;
    display:flex;
    justify-content: space-between;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    line-height: 1.8px;
}

.footer-basic div h6{
    font-size: 0.7em;
}

.col-4 a{
    display:block;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 8px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-weight: bold;
    font-size:13px;
}

.col-4 a:hover{
    color:#267682;
}

.copyright {
    margin-top:0;
    margin-bottom:0;
    padding-bottom: 10px;
    text-align:center;
    font-size:13px;
    color:black;
    background-color:white;
  }